Comprension de listas (hara que nuestro código se programe en menos líneas.)

In [3]:
#crear una lista con 10 valores

lista_clase1 = []

for i in range (10):
  lista_clase1.append(i)

lista_clase1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# si queremos que los multiplique por 2

lista_clase1 = []

for i in range (10):
  i = i*2
  lista_clase1.append(i) #.append es para agregar elementos

lista_clase1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# utilizando "for" para crear lista de comprension con menos lineas.

lista_for = [i for i in range (10)]
lista_for

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
lista_for = [i*2 for i in range (10)]
lista_for

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [58]:
lista_mas_grande = [i for i in range (101)]
lista_mas_grande

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [15]:
# imprimir la lista solo con numeros menores que 5

lista_mas_grande = [i for i in range (101) if i <5]
lista_mas_grande

[0, 1, 2, 3, 4]

In [18]:
# imprimir la lista solo con numeros mayor que 10 y menor a 50

lista_mas_grande = [i for i in range (101) if (i>=10 and i<=50)]
lista_mas_grande

[10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [45]:
# lista anidada (sus elementos son listas)

lista_1 = [(1,2,3),(4,5,6),(7,8,9)]

# objetivo que se muestren así = [1,2,3,4,5,6,7,8,9]

In [33]:
lista_nueva = []

# paso 1: entrar a los elementos de la lista_1

for j in range(len(lista_1)):
  print(lista_1[j])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [35]:
# paso 2 entrar a los elementos de las listas que estan dentro de la lista_1

for j in lista_1:
  for i in j:
    print(i)

1
2
3
4
5
6
7
8
9

In [40]:
# ejemplo con lista más corta

lista_2 = [(3,4,5)]

for i in lista_2:
  print(i)
  for j in i:
    print(f"elemento: {j}")

(3, 4, 5)
elemento: 3
elemento: 4
elemento: 5

In [53]:
# imprimir la lista usando for para usar menos lineas de programación


lista_1 = [("a","b","c"),("d","e","f"),("g","h","p")]
lista_vacia = []


for i in lista_1:
  for j in i:
    lista_vacia.append(j)

lista_vacia

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'p']

In [54]:
[j for i in lista_1 for j in i]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'p']

In [64]:
# use una lista de comprensión para crear e imprimir una lista de numeros consecutivos del 1 al 50

lista_50 = [i for i in range (51) if i>0]
lista_50

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [77]:
# use una lista de comprensión para crear e imprimir una lista de numeros pares que comience en 2 y termine en 200.
# % devuelve el residuo, es decir todos los numeros que divididos entre 2 tengan residuo 0 los va imprimir

lista_pares = [i for i in range (201) if i>1 and i%2 ==0]
lista_pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200]

Funciones lambda

se define de la siguiente forma:

lambda parametro(s): expresión

ejemplos:
lambda x: x+1
num_doble = lambda num: num*2

In [78]:
num_doble = lambda num: num*2

num_doble(5)

10

In [79]:
suma_num = lambda x,y: x+y

suma_num(2,10)

12

In [86]:
# limpieza con funcion lambda

telefono = "+52 442-104-3274"

limpieza_string = lambda telefono: telefono.replace("+52","",).replace("-","")

limpieza_string(telefono)

' 4421043274'

In [87]:
# division

division = lambda x,y: x/y if (y!=0) else 0

In [92]:
division (10,2)

5.0

In [3]:
clases = ["calculo", "Filosofia", "Arte-Historia", "Computacion-ciencia"]

In [4]:
limpieza_string = lambda string: string.replace("-"," ")

clases_limpieza = [limpieza_string(i) for i in clases]

clases_limpieza

['calculo', 'Filosofia', 'Arte Historia', 'Computacion ciencia']

In [36]:
# funcion zip junta 2 listas en pares

lista1 = [1,2,3,10]
lista2 = [2,3,4,5]
lista3 = zip(lista1, lista2)
list(lista3)

[(1, 2), (2, 3), (3, 4), (10, 5)]

In [39]:
# comparar los elementos de cada dupla y verificar si el primero es mayor que el segundo
# la salida es: false, false, false , true
if 1 > 2:
  print("true")
else:
  print("false")

if 2 > 3:
  print("true")
else:
  print("false")

if 3 > 4:
  print("true")
else:
  print("false")

if 10 > 5:
  print("true")
else:
  print("false")

false
false
false
true

In [42]:
# funcion zip junta 2 listas en pares

lista1 = [1,2,3,10]
lista2 = [2,3,4,5]
list (zip(lista1, lista2))

[(1, 2), (2, 3), (3, 4), (10, 5)]

In [46]:
# respuesta clase
# para solo imprimir los numeros
for x,y in zip(lista1,lista2):
  print(x,y)

1 2
2 3
3 4
10 5

In [32]:
# respuesta clase
# usando función lambda
# compare = lambda ###: print("True") if ### else print("False")
# for ### in zip(list1,list2):
    # compare(###)

compare = lambda x,y: True if (x>y) else False

[compare(x,y) for x,y in zip(lista1, lista2)]

# se puede hacer de muchas formas mas

[False, False, False, True]

In [7]:
# otra forma de resolverlo

# paso 1 crear la funcion de comparacion
compare = lambda numero1, numero2: True if (numero1 > numero2) else False

In [8]:
# definir las listas

lista1 = [1,2,3,10]
lista2 = [2,3,4,5]
list (zip(lista1, lista2))

[(1, 2), (2, 3), (3, 4), (10, 5)]

In [10]:
# agregar a una lista vacia

Lista3 = []

for x,y in zip(lista1, lista2):
  Lista3.append(compare(x,y))

Lista3

[False, False, False, True]

In [11]:
# como lista de comprension

[compare(x,y) for x,y in zip(lista1,lista2)]

[False, False, False, True]